#title, #btnComments{
    color: blue;
    background-color: rgba(0,0,0,0);
}

#postBody{
    font-weight: bold;
    color: blue;
    border-color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    
    text-align: left;
    align-items:right;
    right: 70%;
    display: flex;
    float: right;
}

/* #btnComments{
} */

#forComments{
    font-weight: bold;
    color: green;
    border-color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    align-items:right;
    right: 70%;
    display:block;
    float:inherit;
}