#title{
    color: blue;
    background-color: rgba(0,0,0,0);
}
#btnComments{
    color:#D33A2C;
    background-color: rgba(0,0,0,0);
    text-align: center;
    align-items: center;
}

#postBody{
    font-weight: bold;
    color: blue;
    border-color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    
    text-align: center;
    margin-left: 5px;
}

#forComments{
    font-weight: bold;
    color: blue;
    border-color: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    align-items:center;
    right: 70%;
    display:block;
    float:inherit;
}